.tooltip-container {
    z-index: 1000;
    background: white;
    border: 1px solid grey;
    padding: 0px 12px;
    border-radius: 4px;
}

.tooltip-arrow {
    z-index: 1000;
}

.tooltip-arrow::before {
    content: "";
    background: url(https://systemuicons.com/images/icons/paperclip.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left: 0;
}

.pdf-page {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}